:root {
  --clr-bg-1: #E8DCCF;
  --clr-bg-2: #F1C982;
  --clr-bg-3: #DCD5CC;
  --clr-bg-4: #D6A39E;
  --clr-bg-5: #EED5D8;
  --clr-stone: rgb(28 25 23);
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--clr-stone);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-1 {
background-color: var(--clr-bg-1);
}

.bg-2 {
background-color: var(--clr-bg-2);
}

.bg-3 {
  background-color: var(--clr-bg-3);
}

.bg-4 {
  background-color: var(--clr-bg-4);
}

.bg-5 {
  background-color: var(--clr-bg-5);
}

.section {
  min-height: 100vh;
  padding: 4em;
}

.box {
  background-color: var(--clr-stone);
  width: 120px;
  height: 120px;
  border-radius: 20px;
}
